body{
    background-color: #d7d7d7;
}

.wrapper{
    min-width: 400px;
    min-height: 90vh;
    background-color: #f7f7f7;
    margin:30px;
    border-radius: 5px;
    padding: 80px 80px 5px;

}
.my-avatar{
    width: 200px;
    height: 200px;

}
.label {
    cursor: pointer;
}

.label img {
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid lightgray;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.30);
}

.second-part, .third-part{
    margin-top: 5px;
    padding-top: 20px;
}
.third-part{
    padding-bottom: 10px;
}

/*modal*/
.modal{
    min-width: 400px;
}
.img-container img {
    max-width: 100%;
}
.img-container{
    width: 500px;
    margin: auto;
}

#image, .preview{
    max-width: 100%;
    border:1px solid grey;
}
.preview{
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid lightgray;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.30);
    border-radius: 50%;
    overflow: hidden;
}
input.error {
    border: 1px solid #ff0000;
    box-shadow: inset 0 0 3px 3px rgba(255,0,0,.40);
}

.registry{
    width: 150px;
    margin-top: 20px;
}
